<!-- Header with full-height image -->
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<div class="bgimg-1" id="top">
  <mat-toolbar color="primary" style="font-size: 17px; color:white" class="baloo">
  <button mat-button class="hexchat-text" routerLink="/home">Hexchat</button>
      <span class="fill-space"></span>
      <span>Already have an account?&ensp;</span>
      <a mat-raised-button class="toolbar-button" routerLink="/signin">Login</a>
</mat-toolbar>

    <div class="firstsentecne" >Rediscover Friendship</div>
    <p style="text-align: center"><button mat-raised-button color="primary" class="button-shape baloo" routerLink="/join" type="submit" >
      Get Started
    </button></p>
    </div>

<!-- About Section -->
<div class="w3-container" style="padding:128px 16px; min-height: 100%" id="about">
  <h3 class="w3-center">ABOUT HEXCHAT</h3>
  <p class="w3-center w3-large">Product Features</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Smart</p>
      <p>Hexchat develops smart matching algorithms that know deeper about your preferences.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Connect</p>
      <p>Hexchat matches you to another 5 and creates a small chat room for you to find friends who think alike. </p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Share</p>
      <p>Hexchat discovers interesting topics to spark conversations.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Support</p>
      <p>Hexchat is planning icebreaker bots, chat rooms with limited time and an invitation function.</p>
    </div>
  </div>
</div>

<!-- Promo Section - "We know" -->
<div class="w3-container w3-light-grey" style="padding:128px 16px">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>Our Mission</h3>
      <p>The modern world makes us closer physically yet separated. Closeness is meaningless if we are not connected. Hexchat aims to be a product to help users to create their connections, quickly and in scale!</p>
<!--      <p><a href="#work" class="w3-button w3-black"><i class="fa fa-th">&nbsp;</i> View Our Works</a></p>-->
    </div>
<!--    <div class="w3-col m6">-->
<!--        picture placeholder-->
<!--&lt;!&ndash;      <img class="w3-image w3-round-large" src="/" alt="Buildings" width="700" height="394">&ndash;&gt;-->
<!--    </div>-->
  </div>
</div>

<!-- Team Section -->
<div class="w3-container" style="padding:128px 16px" id="team">
  <h3 class="w3-center">THE TEAM</h3>
  <p class="w3-center w3-large">The ones who create this miracle</p>
  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="assets/images/akanksha.jpg" alt="image" style="width:100%">
        <div class="w3-container">
          <h3>Akanksha</h3>
          <p class="w3-opacity">Back End Engineer</p>
<!--          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>-->
          <p><a class="w3-button w3-light-grey w3-block" target="_blank" href="https://www.linkedin.com/in/akanksha130/"><i class="fa fa-linkedin-square"></i> Connect</a></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="assets/images/annette.jpg" alt="image" style="width:100%">
        <div class="w3-container">
          <h3>Annette</h3>
          <p class="w3-opacity">Designer & Product Manager</p>
<!--          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>-->
          <p><a class="w3-button w3-light-grey w3-block" target="_blank" href="https://www.linkedin.com/in/zijun-annette-lin/"><i class="fa fa-linkedin-square"></i> Connect</a></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="assets/images/daren_ma.jpg" alt="image" style="width:100%">
        <div class="w3-container">
          <h3>Daren</h3>
          <p class="w3-opacity">Front End Engineer</p>
<!--          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>-->
                  <p><a class="w3-button w3-light-grey w3-block" target="_blank" href="https://www.linkedin.com/in/daren-ma/"><i class="fa fa-linkedin-square"></i> Connect</a></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="assets/images/geoffrey.png" alt="image" style="width:100%">
        <div class="w3-container">
          <h3>Geoffrey</h3>
          <p class="w3-opacity">Lead Product Manager</p>
<!--          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>-->
                  <p><a class="w3-button w3-light-grey w3-block" target="_blank" href="https://www.linkedin.com/in/geoffreyhung/"><i class="fa fa-linkedin-square"></i> Connect</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="assets/images/mikio_tada.jpg" alt="image" style="width:100%">
        <div class="w3-container">
          <h3>Mikio</h3>
          <p class="w3-opacity">Front End Engineer</p>
<!--          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>-->
                  <p><a class="w3-button w3-light-grey w3-block" target="_blank" href="https://www.linkedin.com/in/mikiotada/"><i class="fa fa-linkedin-square"></i> Connect</a></p>
        </div>
      </div>
    </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="assets/images/nishat_parveen.jpg" alt="image" style="width:100%">
        <div class="w3-container">
          <h3>Nishat</h3>
          <p class="w3-opacity">Back End Engineer</p>
<!--          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>-->
                  <p><a class="w3-button w3-light-grey w3-block" target="_blank" href="https://www.linkedin.com/in/nishat-parveen/"><i class="fa fa-linkedin-square"></i> Connect</a></p>
        </div>
      </div>
    </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="assets/images/sakshi_singla.jpg" alt="image" style="width:100%">
        <div class="w3-container">
          <h3>Sakshi</h3>
          <p class="w3-opacity">Front End Engineer</p>
<!--          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>-->
                  <p><a class="w3-button w3-light-grey w3-block" target="_blank" href="https://www.linkedin.com/in/sakshi-singla/"><i class="fa fa-linkedin-square"></i> Connect</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="w3-center w3-padding-64" style="background-color: #9877d1; color: white">
  <a href="#top" class="w3-button" style="background-color: white;color: #60468f;"><i class="fa fa-arrow-up w3-margin-right" style="color: #60468f;"></i>To the top</a>
<!--  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>-->
</footer>
</body>
</html>
